* {
    box-sizing: border-box;
}


/*Global styles */

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}


/* Header and nav */

header {
    margin: 10px;
}

header img {
    padding: 5px 30px;
}

header nav {
    background-color: #a00;
    border-radius: 25px;
    padding: 5px 0;
    text-align: center;
}

header nav a {
    color: #fff;
    font-size: 24px;
    padding: 5px 15px;
}


/* Padding for sections */

section.top,
section.currentEvents,
section.recentPosts {
    padding: 0 30px;
}


/* Top section */

.top img.primary {
    float: left;
    padding: 10px;
    width: 66.66666666%;
}

.top img.secondary {
    float: right;
    padding: 2px;
    width: 33.3333%;
    max-height: 50%;
}


/* Current events and recent posts */

.subsectionHeader {
    clear: both;
    color: #a00;
    border: 1px solid #a00;
    border-left: none;
    border-right: none;
    text-align: center;
}

.currentEvents img {
    float: left;
    width: 20%;
    margin: 0 auto;
    padding: 5px 20px;
}


/* Recent Posts section and articles */

section.recentPosts {
    float: left;
    width: 66.6666%;
    border-right: 1px solid #a00;
}

section.recentPosts article {
    border-bottom: 1px solid #a00;
    overflow: hidden;
}

section.recentPosts img {
    float:left;
    max-width: 50%;
    padding: 5px;
}

section.recentPosts a {
    color: #a00;
}


/* Sponsors */

aside.sponsors {
    float: right;
    width: 33.333%;
}

aside.sponsors img {
    float: left;
    width: 50%;
    padding: 10px;
}

aside.sponsors header {
    text-align: center;
}

/* Footer and footer nav */

footer {
    clear: both;
}

footer h3 {
    float: left;
}

footer nav {
    float: right;
    margin: 10px;
}

footer nav a {
    color: #a00;
    padding: 5px;
}